<!DOCTYPE html>
<html>
<head>
	<title>vue exercise</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div id="app">
		{{message}}
	</div>
	<div id="app-2">
		<span v-bind:title="message">Hover me</span>
	</div>
	<div id="app-3">
		<span v-if="seen">now you see me</span>
	</div>
	<div id="app-4">
		<ul>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ul>
	</div>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverse">Reverse</button>
	</div>
	<div id="app-7">
		<ul>
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>	
		</ul>
	</div>
</body>
</html>